__pycache__/
java_opts.txt

airflow/logs/*
!airflow/logs/.gitkeep

airflow/plugins/*
!airflow/plugins/.gitkeep

spark_app/logs/*
!spark_app/logs/.gitkeep

spark_app/output/*
!spark_app/output/.gitkeep

pandas_app/logs/*
!pandas_app/logs/.gitkeep

pandas_app/output/*
!pandas_app/output/.gitkeep

.DS_Store